
/* Layout */
html, body {margin: 0; padding: 0; background-color: white;}
header {width: auto; min-height: 75px; padding: 5px 30px 25px; border-bottom: 2px solid #f9b54b;}
main {padding-top: 10px;}
footer {width: auto; min-height: 12em; padding: 50px 30px 50px; background-color: #152139; overflow: auto; clear: both; border-style: solid; border-image: repeating-linear-gradient(to right, #e73455, #e73455 33.3%, #f9b54b 33.3%, #f9b54b 66.6%, #3f74ba 66.6%, #3f74ba 100%) 1; border-width: 5px 0 0;}

/* Typography */
body, input {font-family: 'PT Sans', sans-serif;}
body, textarea, option, select {font-size: 16px; line-height: 22px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Fjalla One', sans-serif; font-weight: normal; color: #152139; text-transform: uppercase;}
h1 {font-size: 25px; line-height: 32px; text-align: center;}
h2 {margin-top: 1.3em;}
main p, main li {line-height: 1.3em;}
main ul li {margin-bottom: 6px;}

/* Links */
a, main #mappanel p a {color: #111; text-decoration: none;}
main p a {color: #3f74ba; text-decoration: underline;}

/* Header */
header #logo {width: 130px; border: 0; float: left;}

/* Main menu navigation */
header nav {float: right;}
header nav ul {list-style: none; margin: 0; padding: 0;}
header nav ul li {display: inline; vertical-align: middle; margin-right: 5px; text-transform: uppercase; font-family: 'Fjalla One', sans-serif; color: #191818; font-size: 18px;}
header nav ul li a {display: inline-block; padding: 6px 10px;}
header nav ul li a:hover {background-color: #f7f7f7;}
header nav ul li.mobile {display: none;}
header nav ul li.selected a {border-bottom: 2px solid #ddd;}
header nav ul li.login a {margin-left: 12px; border: 1px solid #3f74ba; border-radius: 4px; padding: 4px 16px; font-family: 'PT Sans', sans-serif; text-transform: none; font-size: 14px; color: #3f74ba;}

/* Main menu navigation - mobile */
header nav img {display: none;}
#mobilenav {display: none;}
@media only screen and (max-width: 875px) {
	header nav img {display: block; margin-top: 15px; width: 32px; height: 32px;}
	header nav ul {display: none;}
	#mobilenav ul li {font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
	#mobilenav ul li.mobile {display: block;}
	#mobilenav {position: fixed; width: 290px; top: 0; right: 0; bottom: 0; background-color: #fcfcfc; border-left: 1px solid #eee; box-shadow: -25px 0 20px -5px #ddd; z-index: 10;}
	#mobilenav #close {text-align: right; font-size: 50px; margin: 0 0 5px;}
	#mobilenav #close a {display: block; text-decoration: none; color: #aaa; padding: 30px;}
	#mobilenav ul {list-style: none; margin: 0; padding: 0; border-top: 1px solid #ddd;}
	#mobilenav ul li a {display: block; padding: 17px 20px; border-bottom: 1px solid #ddd; font-size: 1.2em;}
	#mobilenav ul li.selected a {background-color: #e7e7e7;}
}

/* Main content */
main {min-height: 400px;}

/* Footer */
footer ul, footer p, footer a {color: white; text-align: center;}
footer #menu, footer #socialmedia {font-family: 'Fjalla One', sans-serif; text-transform: uppercase; font-size: 18px; margin-bottom: 35px;}
footer #menu ul {list-style: none; margin: 0; padding: 0;}
footer #menu ul li {display: inline;}
footer #menu ul li:first-child {margin-right: 50px;}
footer #socialmedia img {width: 30px; height: 30px; vertical-align: middle;}
footer #socialmedia a {margin-left: 6px;}
footer #socialmedia a:first-child {margin-left: 15px;}
footer #colophon p {font-size: 14px; opacity: 0.6; line-height: 22px; margin: 0; padding-bottom: 10px;}
footer #colophon p a {text-decoration: underline;}

/* Map styling */
#mappanel {position: relative;}
#map {width: 100%; border: 0;}

/* Geolocation */
body .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {display: none;}		/* Disable built-in styling */
#map #geolocation {position: absolute; bottom: 30px; right: 15px; width: 40px; height: 40px; background-color: white; padding: 10px; border-radius: 50%;}

/* Popups (adjustments to emulate Leaflet.js) */
@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
.mapboxgl-popup {animation: fadein 0.2s;}
.mapboxgl-popup-content {max-width: 300px; min-width: 50px; border-radius: 12px; padding: 13px 19px; box-shadow: 0 3px 14px rgba(0,0,0,0.4); min-width: 300px;}
.mapboxgl-popup-close-button {font-size: 16px; font-family: Tahoma, Verdana, sans-serif; color: #c3c3c3; font-weight: bold; padding: 10px;}
.mapboxgl-popup-close-button:hover {color: #999; background-color: white; border-top-right-radius: 12px;}
body .mapboxgl-map .mapboxgl-popup-content {line-height: 1.4;}

/* Geocoder */
#geocoder {margin: 5px 25px 30px; height: 50px; width: calc(100%-40px);}
#geocoder #geolocation {width: 50px; height: 50px; float: left;}
#geocoder input[type="search"] {border-style: solid; border-color: #c1c1c1; border-width: 2px 0; -webkit-appearance: none; height: 50px; width: calc(100% - 106px); padding: 8px 15px; font-size: 17px;}
#geocoder input[type="image"] {width: 56px; height: 50px; border: 0; float: right;}

/* Geocoder autocomplete */
.ui-autocomplete-loading {background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li:first-child a {padding-top: 9px;}
.ui-autocomplete li a {padding: 5px 15px 3px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Layer loading spinner */
#loading {display: none /* enabled in logic */; width: 29px; height: 290px; background-color: transparent;}
#loading.mapboxgl-ctrl-group:not(:empty) {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#loading img {display: block; margin: auto; width: 20px; height: 20px;}

/* Control boxes */
div.control {position: absolute; z-index: 5; border: 1px solid #e7e7e7; padding: 0px 6px; background-color: white; cursor: default; user-select: none; border-radius: 5px; box-shadow: 5px 5px 5px 5px rgba(232,232,232,0.5);}

/* Home page */
body.home h1.name {display: none;}
body.home p {text-align: center;}
body.home #introduction {padding: 0 30px 5px;}
body.home #staticmap {width: 100%; height: 250px; overflow: hidden; position: relative; margin: 0;}
body.home #staticmap img {left: 50%; margin-left: -649px; top: 50%; margin-top: -342px; position: absolute;}	/* See: https://stackoverflow.com/a/10830946/180733 */
body.home #statistics {width: 100%; margin: 0;}
body.home #statistics div {padding: 0; margin: 0; display: inline-block; width: calc(50% - 4px); text-align: center; background-color: white; height: 100px; vertical-align: middle; padding-top: 40px; color: #727272; font-size: 1em; line-height: 33px;}
body.home #statistics div h3 {font-family: 'Fjalla One', sans-serif; margin: 0; padding: 0; font-size: 14px; line-height: 22px;}
body.home #statistics div p {font-size: 32px; color: #3f74ba; font-weight: bold; margin: 0; padding: 0;}

/* Planning applications and proposals map pages */
#introduction {padding: 0 30px 5px;}
body.map #map {height: 600px;}
body.proposals #map {height: 450px;}

/* Filtering controls */
body.map div#filter {top: 20px; right: 20px;}
body.map #filter p {line-height: 20px; font-family: 'PT Sans', sans-serif; font-size: 14px; vertical-align: middle; padding: 0; margin: 0;}
body.map #filter p a {display: block; padding: 12px;}
body.map #filter p a img {width: 21px; height: 24px; vertical-align: middle; padding: 0 5px 0 0; margin: 0; border: 0;}
body.map #filtering {display: none; position: absolute; top: 100px; left: 0; width: auto; height: calc(100% - 100px); z-index: 10; background-color: white; padding: 10px 30px 30px;}
body.map #filtering p.close {float: right; font-size: 30px; line-height: 10px; margin: 0; padding: 0;}
body.map #filtering p.close a {display: block; text-decoration: none; color: #aaa; margin: 0; padding: 10px; position: relative; right: -30px; top: -10px;}
body.map #filtering p.close a:hover {color: #999; background-color: #eee;}
body.map #filtering ul#app_state, body.map #filtering ul#app_type, body.map #filtering ul#app_size {list-style: none; margin: 0; padding: 0;}
body.map #filtering ul#app_state li, body.map #filtering ul#app_type li, body.map #filtering ul#app_size li {display: inline-block; border: 1px solid #707070; padding: 5px 8px; color: #707070; width: auto; margin: 0 5px 0; border-radius: 6px;}
body.map #filtering ul#app_type li label {color: white;}

/* Collisions */
#mappanel #collisions {bottom: 7px; left: 120px;}
#mappanel #collisions p {margin: 0; padding: 0; font-size: 14px;}

/* Monitor */
body.map #monitor {bottom: 45px; left: 20px; right: 20px;}
body.map #monitor a {display: block; padding: 20px;}
body.map #monitor img {float: left; width: 35px; padding: 10px 10px;}
body.map #monitor h2, body.map #monitor p {margin: 0 0 0 80px; padding: 0;}
body.map #monitor h2 {font-size: 16px; padding-bottom: 5px;}

/* Map popups - reset default styles */
#map.mapboxgl-map {font-family: inherit; font-size: inherit;}
#map.mapboxgl-map .mapboxgl-ctrl-attrib {font-size: 0.8em;}

/* Map popups */
#popupcontent {display: none;}
#map .mapboxgl-popup {max-width: 100% !important; transform: none !important;}		/* Override default */
#map .mapboxgl-popup {width: 100%; margin-top: 50px; height: calc(100% - 50px); z-index: 10;}
#map .mapboxgl-popup .mapboxgl-popup-content {max-width: 100%;}		/* Override default */
#map .mapboxgl-popup .mapboxgl-popup-content {height: 100%; overflow: auto; padding: 30px;}
#map .mapboxgl-popup-content h2 {text-align: center; margin: 0; padding: 0;}
#map .mapboxgl-popup-content p.subheading {text-align: center; color: #646464; margin: 0; padding: 0;}
#map .mapboxgl-popup-content p.officialplans a, #map .mapboxgl-popup-content p.setupalerts a {color: #183fd4; font-size: 1em;}
#map .mapboxgl-popup-content h3 {margin-top: 1.2em; border-top: 1px solid #ddd; padding-top: 1em; font-size: 1.2em;}
#map .mapboxgl-popup-content p span.value {display: inline-block; border: 1px solid #707070; padding: 5px 8px; color: #707070; width: auto; margin: 0;}
#map .planningapplications p.deadline span {float: right;}
#map .proposals ul.tags {list-style: none; margin: 0; padding: 0;}
#map .proposals ul.tags li {display: inline; background-color: #eee; margin: 0 3px 0; border-radius: 6px; padding: 3px 5px;}
#map p.image img {max-width: 100%;}
#map div.streetview iframe {height: 200px; width: 100%;}

/* Static pages */
body.about main, body.contacts main, body.privacy main, body.login main, body.logout main, body.register main {padding-left: 30px; padding-right: 30px; padding-bottom: 40px;}
img.banner {width: 400px; float: right; margin: 10px 0 10px 20px;}
@media only screen and (max-width: 650px) {
	img.banner {width: 100%;}
}

/* Login, logout, register */
body.login p {text-align: center;}
div.user p {text-align: left;}
div.user form {margin: 35px 0;}
div.user form input[type='email'], div.user form input[type='password'], div.user form input[type='submit'] {width: 100%; padding: 10px; font-size: 16px; border-radius: 3px; border: 1px solid #152139; margin-bottom: 5px;}
div.user form input[type='checkbox'] {zoom: 1.01; width: 20px; height: 20px;}
div.user form input[type='submit'] {-webkit-appearance: none; background-color: #e73455; color: #fff; border: 0;}
div.message, div.user div.error {width: auto; background-color: #ddd; padding: 5px 15px; margin: 30px 0;}

