
/* Layout */
html, body {margin: 0; padding: 0; background-color: white;}
header {width: auto; min-height: 75px; padding: 5px 30px 25px; border-bottom: 2px solid #f9b54b;}
footer {width: auto; min-height: 12em; padding: 50px 30px 50px; background-color: #152139; overflow: auto; clear: both; border-style: solid; border-image: repeating-linear-gradient(to right, #e73455, #e73455 33.3%, #f9b54b 33.3%, #f9b54b 66.6%, #3f74ba 66.6%, #3f74ba 100%) 1; border-width: 5px 0 0;}

/* Typography */
body, input {font-family: 'PT Sans', sans-serif;}
body, textarea, option, select {font-size: 16px; line-height: 22px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Fjalla One', sans-serif; font-weight: normal; color: #152139; text-transform: uppercase;}
h1 {margin-top: 27px; font-size: 25px; line-height: 32px; text-align: center;}
h2 {margin-top: 1.3em; font-size: 24px; line-height: 28px;}
main p, main li {line-height: 1.3em;}
main ul li {margin-bottom: 6px;}

/* Links */
a, main #mappanel p a {color: #111; text-decoration: none;}
main p a {color: #3f74ba; text-decoration: underline;}

/* Buttons */
.button {margin-top: 10px; padding: 10px 20px; background-color: #3f74ba; color: #fff; border: 0; font-size: 16px; border-radius: 3px;}
input.button {-webkit-appearance: none;}
a.button {text-decoration: none;}

/* Header */
header #logo {width: 130px; height: 66px; border: 0; float: left;}
header #beta {width: 45px; height: 45px; position: absolute; top: 10px; left: 170px; opacity: 0.9;}

/* Main menu navigation */
header nav {float: right;}
header nav ul {list-style: none; margin: 0; padding: 0;}
header nav ul li {display: inline; vertical-align: middle; margin-right: 5px; text-transform: uppercase; font-family: 'Fjalla One', sans-serif; color: #191818; font-size: 18px;}
header nav ul li a {display: inline-block; padding: 6px 10px; border-bottom: 2px solid white;}
header nav ul li a:hover {background-color: #f7f7f7;}
header nav ul li.mobile {display: none;}
header nav ul li.selected a {border-color: #ddd;}
header nav ul li.login a {margin-left: 12px; border: 1px solid #3f74ba; border-radius: 4px; padding: 4px 16px; font-family: 'PT Sans', sans-serif; text-transform: none; font-size: 14px; color: #3f74ba;}

/* Main menu navigation - mobile */
header nav img {display: none;}
#mobilenav {display: none;}
@media only screen and (max-width: 900px) {
	header nav img {display: block; margin-top: 15px; width: 32px; height: 32px;}
	header nav ul {display: none;}
	#mobilenav ul li {font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
	#mobilenav ul li.mobile {display: block;}
	#mobilenav {position: fixed; width: 290px; top: 0; right: 0; bottom: 0; background-color: #fcfcfc; border-left: 1px solid #eee; box-shadow: -25px 0 20px -5px #ddd; z-index: 10;}
	#mobilenav #close {text-align: right; font-size: 50px; margin: 0 0 5px;}
	#mobilenav #close a {display: block; text-decoration: none; color: #aaa; padding: 30px;}
	#mobilenav ul {list-style: none; margin: 0; padding: 0; border-top: 1px solid #ddd;}
	#mobilenav ul li a {display: block; padding: 17px 20px; border-bottom: 1px solid #ddd; font-size: 1.2em;}
	#mobilenav ul li.selected a {background-color: #e7e7e7;}
}

/* Main content */
main {min-height: 400px;}

/* Footer */
footer ul, footer p, footer a {color: white; text-align: center;}
footer #menu, footer #socialmedia {font-family: 'Fjalla One', sans-serif; text-transform: uppercase; font-size: 18px; margin-bottom: 35px;}
footer #menu ul {list-style: none; margin: 0; padding: 0;}
footer #menu ul li {display: inline;}
footer #menu ul li:first-child {margin-right: 50px;}
footer #socialmedia img {width: 30px; height: 30px; vertical-align: middle;}
footer #socialmedia a {margin-left: 6px;}
footer #socialmedia a:first-child {margin-left: 15px;}
footer #colophon p {font-size: 14px; opacity: 0.6; line-height: 22px; margin: 0; padding-bottom: 10px;}
footer #colophon p a {text-decoration: underline;}

/* Map styling */
#mappanel {position: relative;}
#map {width: 100%; border: 0;}

/* Generic popups (adjustments to emulate Leaflet.js) */
@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
.mapboxgl-popup {animation: fadein 0.5s;}
body .mapboxgl-popup-content {max-width: 300px; min-width: 50px; border-radius: 12px; padding: 7px 15px; box-shadow: 0 3px 14px rgba(0,0,0,0.4); min-width: 300px;}
.mapboxgl-popup-close-button {font-size: 16px; font-family: Tahoma, Verdana, sans-serif; color: #c3c3c3; font-weight: bold; padding: 10px;}
.mapboxgl-popup-close-button:hover {color: #999; background-color: white; border-top-right-radius: 12px;}
body .mapboxgl-map .mapboxgl-popup-content {line-height: 1.4;}

/* Popups */
#details {display: none; position: relative; width: auto; background-color: white; padding: 30px; z-index: 10; box-shadow: 0px -10px 10px -5px gray;}
body.planningapplications #details {margin-right: 280px; margin-top: -480px; min-height: 420px /* 480-30-30 */;}
body.proposals #details {margin-top: -330px; min-height: 270px /* 330-30-30 */;}
@media only screen and (max-width: 900px) {
	body.planningapplications #details {margin-right: 0;}
}

/* Geocoder */
#geocoder {margin: 5px 25px 30px; height: 50px; width: calc(100%-40px);}
#geocoder input {-webkit-appearance: none; -webkit-border-radius: 0;}
#geocoder input[type="search"] {border-style: solid; border-color: #c1c1c1; border-width: 2px 0; height: 50px; width: calc(100% - 106px); padding: 8px 15px; font-size: 17px;}
#geocoder input[type="image"] {width: 56px; height: 50px; border: 0; float: right;}

/* Geolocation */
body.planningapplications #map .mapboxgl-ctrl-geolocate, body.proposals #map .mapboxgl-ctrl-geolocate {display: none;}	/* Hide native */
#geocoder #geolocation {width: 50px; height: 50px; float: left;}
body.home #geocoder #geolocation {animation: pulse 1s infinite;}
@keyframes pulse { 0% {transform: scale(1);} 50% {transform: scale(1.1);} 100% {transform: scale(1);} }

/* Geocoder autocomplete */
.ui-autocomplete-loading {background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li:first-child a {padding-top: 9px;}
.ui-autocomplete li a {padding: 5px 15px 3px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Layer loading spinner */
#loading {display: none /* enabled in logic */; width: 29px; height: 290px; background-color: transparent;}
#loading.mapboxgl-ctrl-group:not(:empty) {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#loading img {display: block; margin: auto; width: 20px; height: 20px;}

/* Control boxes */
div.control {position: absolute; z-index: 5; border: 1px solid #e7e7e7; padding: 0px 6px; background-color: white; cursor: default; user-select: none; border-radius: 5px; box-shadow: 5px 5px 5px 5px rgba(232,232,232,0.5);}

/* Tooltips */
body .ui-tooltip {padding: 2px 6px; position: absolute; z-index: 9999; max-width: 300px; border-width: 2px; background-color: white; font-family: 'PT Sans', sans-serif; font-size: 16px; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,1);}

/* Home page */
body.home main {position: relative;}
body.home .staticmap {display: block; height: 500px; overflow: hidden;}
body.home .staticmap img {Xheight: 500px; Xwidth: 100%;}
body.home #pane .staticmap {display: none;}
body.home #pane {position: absolute; top: calc(50% - 150px - 20px); left: calc(50% - 240px - 20px); width: 480px; height: 300px; margin: 0 auto; background-color: white; border-radius: 3px; box-shadow: 0px 0px 20px 10px rgba(125,125,125,0.5); padding: 20px 20px; z-index: 10;}
body.home #pane p {font-size: 0.9em;}
body.home h1 {margin-top: 15px;}
body.home h1.name {display: none;}
body.home p {text-align: center;}
body.home #introduction {padding: 0 30px 5px;}
body.home #statistics {width: 100%; margin: 0;}
body.home #statistics div {padding: 0; margin: 0; display: inline-block; width: calc(50% - 4px); text-align: center; background-color: white; vertical-align: middle; padding-top: 0; color: #727272; font-size: 1em; line-height: 33px;}
body.home #statistics div h3 {font-family: 'Fjalla One', sans-serif; margin: 0; padding: 0; font-size: 14px; line-height: 22px;}
body.home #statistics div p {font-size: 26px; color: #3f74ba; font-weight: bold; margin: 0; padding: 0;}
@media only screen and (max-width: 900px) {
	body.home .staticmap {display: none;}
	body.home #pane .staticmap {display: block;}
	body.home #pane {position: static; width: auto; height: auto; margin: 0; border-radius: 0; box-shadow: none; padding: 0;}
	body.home .staticmap {width: 100%; height: 250px; overflow: hidden; position: relative; margin: 0;}
	body.home .staticmap img {height: auto; width: auto; left: 50%; margin-left: -649px; top: 50%; margin-top: -342px; position: absolute;}	/* See: https://stackoverflow.com/a/10830946/180733 */
	body.home #pane p {font-size: 1em;}
	body.home #statistics {height: 100px; padding-top: 40px;}
	body.home #statistics div p {font-size: 32px;}
}

/* About page */
body.about p#funders img {height: 90px; border: 1px solid #ddd; padding: 15px 25px; margin-right: 20px; margin-bottom: 15px;}

/* 404 page */
body.page404 img {margin-left: 20px; margin-bottom: 20px;}

/* Planning applications and proposals map pages */
#introduction {padding: 0 30px 5px;}
body.planningapplications #map {min-height: 600px;}
body.proposals #map {min-height: 450px;}

/* Planning applications page filtering */
body.planningapplications #filtering {position: absolute; z-index: 10; background-color: #f7f7f7; padding: 20px 30px;}
body.planningapplications #filtering h2 {margin-top: 0;}
body.planningapplications #filtering h3 {margin-top: 1.2em; margin-bottom: 0.2em;}
body.planningapplications #filtering p.reset {float: right; padding: 0; margin: 4px 0 0; font-size: 0.83em;}
body.planningapplications #filtering p.reset a {color: #999; border: 1px solid #999; padding: 2px 6px; border-radius: 6px;}


/* Planning applications page filtering - desktop */
body.planningapplications div#filter {display: none;}
body.planningapplications #filtering p.close {display: none;}
body.planningapplications #filtering {display: block; width: 220px; top: 0; right: 0; bottom: 0;}

/* Planning applications page filtering - mobile */
@media only screen and (max-width: 900px) {
	body.planningapplications div#filter {display: block; top: 20px; right: 20px;}
	body.planningapplications #filtering p.close {display: block;}
	body.planningapplications #filter p {line-height: 20px; font-family: 'PT Sans', sans-serif; font-size: 14px; vertical-align: middle; padding: 0; margin: 0;}
	body.planningapplications #filter p a {display: block; padding: 12px;}
	body.planningapplications #filter p a img {width: 21px; height: 24px; vertical-align: middle; padding: 0 5px 0 0; margin: 0; border: 0;}
	body.planningapplications #filter.filtersenabled {background-color: #99ff99;}
	body.planningapplications #filtering {display: none; width: auto; top: 110px; left: 0; right: 0; bottom: 0;}
}

/* Filtering controls */
#filtering ul#state, #filtering ul#type, #filtering ul#size {list-style: none; margin: 0; padding: 2px 0 0; line-height: 33px;}
#filtering ul#state li, #filtering ul#type li, #filtering ul#size li {display: inline-block; border: 1px solid #707070; padding: 2px 6px; color: #707070; width: auto; margin: 0 5px 0 0; border-radius: 6px;}
#filtering ul#type li label {color: white;}
#filtering p {margin: 6px 0;}
#filtering p input {font-size: 16px;}

/* Proposals page */
p#addidea {float: right; margin-left: 20px;}

/* Close button in map panels */
#mappanel div p.close {float: right; font-size: 30px; line-height: 10px; margin: 0; padding: 0;}
#mappanel div p.close a {display: block; text-decoration: none; color: #aaa; margin: 0; padding: 10px; position: relative; right: -30px; top: -30px;}
#mappanel div p.close a:hover {color: #999; background-color: #eee;}

/* Collisions */
#mappanel #collisions {bottom: 7px; left: 120px;}
#mappanel #collisions p {margin: 0; padding: 0; font-size: 14px;}

/* Monitor */
body.planningapplications #monitor {bottom: 45px; left: 20px; right: 300px;}
@media only screen and (max-width: 900px) {
	body.planningapplications #monitor {right: 20px; padding: 20px;}
}
body.planningapplications #monitor a {display: block; padding: 10px;}
body.planningapplications #monitor img {float: left; width: 35px; padding: 10px 10px;}
body.planningapplications #monitor h2, body.planningapplications #monitor p {margin: 0 0 0 80px; padding: 0;}
body.planningapplications #monitor h2 {font-size: 16px; padding-bottom: 5px;}

/* Monitors page */
body.my h2 {margin-top: 2em;}
body.my p.action {margin-top: 30px;}
body.my #map {height: 450px;}

/* Add monitor page */
body.add h2 {margin-top: 2em;}
body.add #map {width: 100%; height: 400px; max-width: 400px;}
body.add #filtering {width: auto; border: 1px solid #ddd;}
body.add #filtering {padding: 5px 15px 20px;}
body.add span.warning {color: red;}

/* Map popups - reset default styles */
#map.mapboxgl-map {font-family: inherit; font-size: inherit;}
#map.mapboxgl-map .mapboxgl-ctrl-attrib {font-size: 0.8em;}

/* Map popups */
#popupcontent {display: none;}
#details:focus {outline: none;}
#details p.applicationid {text-align: center; font-family: 'PT Sans', sans-serif; font-size: 16px; color: #3f74ba; margin: 0 0 8px; padding: 0;}
#details h2 {text-align: center; margin: 0; padding: 0 0 18px;}
#details p.calltoaction {vertical-align: middle; margin-top: 22px;}
#details p.calltoaction a {display: block; width: auto; color: #fff; background-color: #3f74ba; border: 0; border-radius: 5px; text-align: center; font-family: 'PT Sans', sans-serif; font-size: 16px; padding: 10px;}
#details p.image {margin-top: 15px; width: auto; height: 400px;}
#details p.image img {max-width: 100%; max-height: 100%; object-fit: contain;}
#details p.address.centred {text-align: center; margin-top: 0;}
#details ul.status {margin: 0 auto 18px; text-align: center; padding: 0;}
#details ul.status li {display: inline; background-color: #d9e3f1; font-size: 14px; color: #152139; padding: 6px 14px; line-height: 38px; border-radius: 14px; margin: 0 5px; white-space: nowrap;}
#details ul.status li img {width: 14px; height: 14px; vertical-align: middle; padding-right: 2px;}
#details div.description {margin-top: 0; border-top: 1px solid #f9b54b; padding-top: 18px;}
#details div.description a {border-bottom: 1px solid #e7e7e7;}
#details p {line-height: 23px;}
#details div.actions {height: 50px;}
#details div.actions p {display: inline;}
#details div.actions p a {margin-top: 10px; border: 2px solid #3f74ba; color: #3f74ba; padding: 10px 30px 10px 20px; border-radius: 4px; display: inline-block; width: calc(48% - 58px); background-repeat: no-repeat; background-position: 93% center;}
#details div.actions p.officialplans a {float: left; background-image: url('/images/offsite.png');}
#details div.actions p.setupalerts a {float: right; background-image: url('/images/alerts.png');}
#details p.date {font-weight: bold;}
#details h3 {font-size: 1.2em; margin-top: 10px; padding-top: 0; text-align: center;}
#details div.documents, #details div.matches {background-color: #f9f9fc; padding: 30px 30px;}
#details div.documents {margin: 40px -30px 0;}
#details div.matches {margin: 0 -30px 0; padding-top: 0;}
#details div.matches h3 {border-top: 1px solid #f9b54b; width: 100%; padding-top: 30px; margin-top: 0;}
#details div.documents p.alldocuments {text-align: center;}
#details div.documents p.alldocuments a span {color: #3f74ba; text-decoration: underline;}
#details div.listing ul {margin: 0; padding: 0;}
#details div.listing ul li {display: block; height: 40px; width: 100%; background-repeat: no-repeat; background-position: 0px center; margin-top: 15px;}
#details div.listing ul li span {color: gray;}
#details div.listing ul li a {display: block; height: 100%; padding-left: 52px;}
#details div.listing ul li:hover {opacity: 0.8;}
#details div.documents ul li {background-image: url('/images/document.png');}
#details div.matches ul li {background-image: url('/images/match.png');}
#details p span.value {display: inline-block; border: 1px solid #707070; padding: 5px 8px; color: #707070; width: auto; margin: 0;}
#map .proposals ul.tags {list-style: none; margin: 0; padding: 0;}
#map .proposals ul.tags li {display: inline; background-color: #eee; margin: 0 3px 0; border-radius: 6px; padding: 3px 5px;}
#map p.image img {max-width: 100%;}
#details div.streetview {width: 100%; height: 180px;}
#details div.streetview iframe {width: 100%; height: 100%;}

/* Static pages */
body.about main, body.contacts main, body.my main, body.add main, body.privacy main, body.login main, body.logout main, body.register main, body.page404 main {padding-left: 30px; padding-right: 30px; padding-bottom: 40px;}
body.about main {padding-right: 430px; height: 500px; overflow: scroll; background-image: url('/images/about.jpg'); background-size: 400px 540px; background-repeat: no-repeat; background-position: top right;}
@media only screen and (max-width: 900px) {
	body.about main {padding-right: 30px; height: auto; background-position: bottom center; padding-bottom: 550px;}
}

/* Login, logout, register */
body.login p {text-align: center;}
div.user p {text-align: left;}
div.user form {margin: 35px 0;}
div.user form input[type='email'], div.user form input[type='password'], div.user form input[type='submit'] {width: 100%; padding: 10px; font-size: 16px; border-radius: 3px; border: 1px solid #152139; margin-bottom: 5px;}
div.user form input[type='checkbox'] {zoom: 1.01; width: 20px; height: 20px;}
div.user form input[type='submit'] {-webkit-appearance: none; background-color: #e73455; color: #fff; border: 0;}
div.message, div.user div.error {width: auto; background-color: #ddd; padding: 5px 15px; margin: 30px 0;}

