RewriteEngine On

RewriteRule ^$ /index.html?action=home [L,QSA]
RewriteRule ^(about|map|privacy|contacts)/$ /index.html?action=$1 [L,QSA]
RedirectMatch Permanent ^/(about|map|privacy|contacts)$ /$1/
