RewriteEngine On

RewriteRule ^$ /index.html?action=home [L]
RewriteRule ^(about|map|ideas|my|privacy|contacts|login|logout|register)/$ /index.html?action=$1 [L]
RedirectMatch Permanent ^/(about|map|ideas|my|privacy|contacts|login|logout|register)$ /$1/
RewriteRule ^(map|ideas)/(.+)/$ /index.html?action=$1&id=$2 [L]
RedirectMatch Permanent ^/(map|ideas)/(.+[^/])$ /$1/$2/
RewriteRule ^my/(add)/$ /index.html?action=addmonitor [L]
RedirectMatch Permanent ^/my/(add)$ /my/$1/
RewriteRule ^api/(.+)$ /index.html?action=api&call=$1 [L,QSA]
RewriteRule ^(register)/([a-f0-9]{24})/?$ /index.html?action=$1&token=$2 [L]

ErrorDocument 404 /index.html?action=page404
